html, body {
  height: 100%;
  box-sizing: border-box;
}

body {
  background: linear-gradient(135deg, #b04, #f80) fixed;
}

.flex{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.flex > *{
    min-width: 100px;
    min-height: 100px;
}

/*! flexboxing */	

section {
  max-width: 600px;
  margin: 0 auto;
  display: flex;

}

.column {
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

}

section:nth-of-type(5) .column:first-of-type {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 22px;
}

section:nth-of-type(6) .column:nth-of-type(2) {
  flex-grow: 4;
  flex-shrink: 4;
  flex-basis: 66px;
}

.column {
  padding: 30px;
  text-align: center;

}

/*! browser window border and media query */

#top, #bottom, #left, #right {
	background: #8B7979;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; 
}