.flex1 {
	height: 300px;
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.flex2 {
	height: 300px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.flex1 > *{	
	min-width: 100px;
	min-height: 100px;
}
header {
	background: rgba(200, 200,200,1);
}
article {
	background: rgba(200, 200,200,.8);
}
aside {
	background: rgba(200, 200,200,.6);
}
footer {
	background: rgba(200, 200,200,.4);
}

.flex2 > *{	
	min-width: 100px;
	min-height: 100px;
}
header {
	background: rgba(200, 200,200,1);
}
article {
	background: rgba(200, 200,200,.8);
}
aside {
	background: rgba(200, 200,200,.6);
}
footer {
	background: rgba(200, 200,200,.4);
}

/*! browser window border and media query */


#top, #bottom, #left, #right {
	background: #8B7979;
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 15px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 15px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

@media 

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px) 

{
	#top, #bottom, #left, #right { display: none; 
}