.flex {
	display: flex;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.flex > *{	
	min-width: 100px;
	min-height: 100px;
}
header {
	background: rgba(200, 200,200,1);
}
article {
	background: rgba(200, 200,200,.8);
}
aside {
	background: rgba(200, 200,200,.6);
}
footer {
	background: rgba(200, 200,200,.4);
}